@charset "UTF-8";

/*(전체공통 modang으로 옮기고 싶으녀석들)*/
#board { font-family: "맑은 고딕"; font-size: 16px ; line-height: 1.2 ; }



/*********************************************************************
 모당찾기(공통)
**********************************************************************/
/*모당찾기 해더 소제목*/
#content { width: 1200px; margin: 0px auto; }
#content #content-header { padding: 60px 0px 50px 0px; border-bottom: 2px solid #000000; }
#content #content-header h2 { font-size: 35px; text-align: center; }


/*모당찾기 바디 컨텐츠 외곽*/
#find  { padding: 0px 0px 50px 0px; border: 0px solid #000000; }
	


/*********************************************************************
 모당찾기 지도
**********************************************************************/	
/*지도+리스트 외곽*/
#find .b-search-map {
	position: relative;
	border: 1px solid #000000;
}

/*리스트 외곽*/
#find .b-search-map .b-listWrap {
	float: left;
	padding: 15px 10px 15px 10px;
	width:300px;
	height: 670px;
	background-color: #ffffff;
	z-index: 999;
}


#find .b-search-map .mapWrap {
	float: right;
}

#find .b-search-map .mapWrap .infowin{
	padding: 5px;
	font-weight: bold;
	text-align: center;
}



/*검색영역*/
#find .b-search-map .b-listWrap .b-searchForm {
	font-size: 0px;
}

/*검색영역 키워드 입력창*/
#find .b-search-map .b-listWrap .b-searchForm .keyword{
	width: 215px;
}

/*검색결과 리스트 영역*/
#find .b-search-map .b-listWrap .b-searchList {
	padding: 15px 0px 15px 0px;
}

#find .b-search-map .b-listWrap .b-searchList ul {
    height: 612px;
    overflow-y: auto;
}

/*리스트아이템*/
#find .b-search-map .b-listWrap .b-searchList ul>li {
	width: 98%;
    height: 98px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #F8F8F8;
    margin-top: 4px;
    box-shadow: 1px 1px 1px 1px #D9D9D9;
}

/*리스트아이템 이미지 당구장 대표사진*/
#find .b-search-map .b-listWrap .b-searchList img {
    float: left;
    width: 90px;
    height: 90px;
    margin: 4px 5px 0px 0px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

/*리스트아이템 정보 당구장 정보*/
#find .b-search-map .b-listWrap .b-searchList .info {
    float: left;
    width: 180px;
}

/*리스트아이템 정보 당구장 이름*/
#find .b-search-map .b-listWrap .b-searchList .repname {
	padding: 7px 0px 13px 0px;
	font-size: 18px;
	font-weight: bold;
}

/*리스트아이템 정보 당구장 주소1*/
#find .b-search-map .b-listWrap .b-searchList .addr {
	padding-bottom: 9px;
	font-size: 14px;
}

/*리스트아이템 정보 당구장 주소2*/
#find .b-search-map .b-listWrap .b-searchList .sub {
	font-size: 14px;
}






/*********************************************************************
 모달창 관련
**********************************************************************/	

#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

#modalContent {
  position: absolute;
  top: 50px;
  border-radius: 5px;;
  background-color: #ffffff;
  width: 900px;
  min-height: 400px;
  
}

#modalContainer.hidden {
  display: none;
}


/*당구장리스트-상세보기-모달---------------*/
.modal-header { 
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #2E419A;
	font-size: 26px; 
	
}

.modal-header p{ 
	font-weight: bold;
}

.modal-body { 
	padding: 20px 20px 20px 20px;
}

.modal-body .mImg {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0px 50px;
}

.modal-body .mImg>img {
	width: 240px; 
	height: 180px; 
	border: 1px solid #efefef; 
	box-sizing: border-box;
}

.modal-body .mDetail ul{ 
	padding: 30px 0px
}
.modal-body .mDetail ul li{ 
	width: 500px;  
	height: 60px; 
	box-sizing: border-box; 
	margin: 0 auto ;
}

.modal-body .mDetail ul li img{ 
	width: 40px; 
	height: 40px; 
	padding: 10px;
	vertical-align: middle;
}

.modal-body .mDetail ul li span{
	display: inline-block; 
	width: 414px; 
	height: 20px; 
	padding: 5px 10px;
	font-size: 18px; 
	text-align: left;  
	line-height: 20px;
	vertical-align: middle;
}

.modal-footer{ 
	padding: 20px 20px 20px 20px;
	border-top: 1px solid #2E419A;
	text-align: right;
}

/*
.modal-footer>button{width: 90px; height: 30px; background-color: #2E419A;
	border-radius: 4px; color: #fff; cursor: pointer; margin-right:40px;}


.mView {width: 900px; height: 450px; margin: 0 auto; }
.mView .mImg{width: 800px; height: 180px;margin: 20px auto 0;}
.mView .mImg>img{display: inline-block; width: 240px; height: 180px; border: 1px solid #efefef; box-sizing: border-box;
	margin-left: 20px;}
.mView .mDetail{width: 800px;height: 250px; margin: 0 auto;}
.mView .mDetail ul{width: 700px;height: 250px;  margin: 20px auto 0;}
.mView .mDetail ul li{ width: 500px;  height: 60px;box-sizing: border-box; margin: 0 auto 3px;}
.mView .mDetail ul li img{display: block; width: 40px; height: 40px; float: left; padding: 10px;}
.mView .mDetail ul li span{display: block; width: 420px; height: 50px; float: left; padding: 5px 10px;
	font-size: 18px; text-align: left;line-height: 50px;}
.mView .mDetail ul li.txt span{font-size: 16px; line-height: 20px;}
.modal-footer{ margin-top: 20px; height: 40px; text-align: right;}
.modal-footer>button{width: 90px; height: 30px; background-color: #2E419A;
	border-radius: 4px; color: #fff; cursor: pointer; margin-right:40px;}
/* 모달 창 가운데 정렬 */
.modal-dialog {display: flex;justify-content: center;align-items: center;}
*/



#board #list .searchForm {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#board #list .searchForm select { width: 120px; }
#board #list .searchForm input { width: 250px; margin: 0px 5px 0px -1px; }
#board #list .searchForm button { width: 100px; }


