@charset "UTF-8";

/*공통*/
.error-msg{color: #F94069; font-size: 13px; display: none; text-align: center;padding-top:5px;}
.correct-msg{color: #F94069; font-size: 13px; display: none; text-align: center; padding-top:5px;}
h2,h3{color: #2E419A; text-align: center; margin: 20px 0 20px 0;}
#main-content{width: 1200px; margin: 0 auto; height: auto;}
#main-content .container{margin-top:50px; margin-bottom: 100px; height: 100%;}
.chck{display: inline-block; width: 100px; height: 40px; background-color: #2E419A; 
    color: #fff; line-height: 40px; border-radius: 10px; font-size: 14px;}
.chck:hover{display: inline-block; width: 100px; height: 40px; background-color: #2E419A; 
    color: #fff; line-height: 40px; border-radius: 10px; font-size: 14px;}
.button{display: block; width: 480px; height: 40px; text-align: center;
        background-color:  #2E419A; color: #fff; border-radius:10px; line-height: 40px;
        margin: 10px auto 30px; cursor: pointer;}
input[type="text"],input[type="password"]{ width: 300px; height: 40px;padding : 8px 20px 9px 20px; background: #F5F5F5;
    border: 1px solid #B8B8B8; box-sizing: border-box; border-radius: 8px;  color: #111;}
input::placeholder{color: #B8B8B8;}

/*메인컨텐츠 - 모당메인*/
.main{}
.main{width: 1200px; height: 600px; position: relative; border-bottom: 2px solid #2E419A;}
.main::before{content: "";background: url(../images/dang0.jpg) no-repeat center center;
    background-size: 760px 420px; opacity: 0.5; position: absolute;top: 0px;left: 0px; right: 0px;bottom: 0px;}
.main img{display: block; width: 500px; height: 220px; position: relative; top: 33%; left: 30%;}
/*모당소개*/
.intro{height: 500px; position: relative; width: 1200px;}
.intro::before{content: "";background: url(../images/dang1.jpg) no-repeat center center;
    background-size: 700px 350px; opacity: 0.1; position: absolute;top: 0px;left: 10px; right: 0px;bottom: 0px; z-index: -1;}
.intro>h2{text-align: left; margin :50px 0;}
.intro .modang_tip {z-index: 1;}
.intro .modang_tip ul.user_tip{display: flex;}
.intro .modang_tip ul.manager_tip{display: flex; margin-top: 30px;}
.intro .modang_tip li.tip{display:inline-block; font-weight: 800; width: 360px; height: 150px;
    margin-right: 16px; border: 1px solid #2E419A; border-radius: 10px;}
.intro .modang_tip .tip a{display: block;width: 100%;height: 100%;}
.intro .modang_tip .tip a em{display: block;font-size: 18px;color: #333; font-style: normal; padding: 10px 0 ;
    border-bottom: 1px dotted #2E419A; text-align: center;}
.intro .modang_tip .tip a p{ font-size: 14px; color: #666;font-weight: 300;margin-bottom: 10px; padding: 10px 0 0 10px;}
.intro .modang_tip .user_tip .tip:nth-child(1){margin-left: 30px;}
.intro .modang_tip .manager_tip .tip:nth-child(1){margin-left: 30px;}
.intro .modang_tip ul.manager_tip .tip:nth-child(2){width: 250px; height: 100px; margin: 20px 0 0 50px; 
	border: 2px solid #2E419A; background-color: #fafafa;}
.intro .modang_tip ul.manager_tip .tip:nth-child(2) a{display: block; text-align: center;line-height: 6;}
.intro .modang_tip ul.manager_tip .tip:nth-child(2):hover a{background-color: #2E419A; color: #fff;}
/*매니저-회원가입성공페이지*/
#main-content #main{background-color: #e9e9e9; width: 800px; height: 440px; margin: 50px auto;}
#main-content #main .success{padding: 100px 0 120px;}
#main-content #main .success h1{color: #2E419A; text-align:center; margin-bottom: 50px;}
#main-content #main .success p{text-align:center;}

/*매니저-메인 컨텐츠-회원가입*/
.join-wrap{margin: 20px 0;}
.join-wrap .con{position: relative;}
.join-wrap .con .inp-txt{ display:block; text-align: center; }
.join-wrap .con:nth-child(1) .inp-txt{margin-left: 115px;}
.join-wrap .con img.icon{display: inline-block; width: 40px; height: 40px; margin-right: 10px;}
.join-wrap .con + .con{margin-top: 20px;}
.join-wrap .con .inp-txt input{ width: 400px; height: 40px; padding : 8px 20px 9px 20px; background: #F5F5F5;
    border: 1px solid #B8B8B8; box-sizing: border-box; border-radius: 8px;  color: #111;}
.join-wrap .con .inp-txt input::placeholder{color: #B8B8B8;}
.join-wrap div.con input[type="image"]{display: inline-block; margin: 0 auto; width: 150px; height: 150px;}
.join-wrap .con div{ margin: 0 auto;}
.join-wrap .con .sel-box select{width: 130px; height: 40px; padding: 8px 20px 9px;
    background-color: #F5F5F5; border: 1px solid #B8B8B8; box-sizing: border-box; border-radius: 8px;}
.join-wrap .con .sel-box select:nth-child(1){width: 130px;}
.join-wrap .con span.inp-txt>input.post{width: 250px; }
.join-wrap .con span.inp-txt>input.postBt{width: 145px;cursor: pointer;}
.join-wrap .con span.inp-txt>input.addr{margin: 5px 0 0 55px;}
#btnJoin{margin-top: 20px;}
.join-wrap .con span.inp-txt>input.time{width: 190px;}
.join-wrap .con span.inp-txt>span.parking{display: inline-block; margin: 0 38px;}
.join-wrap .con span.inp-txt>span.parking input[type="radio"]{display: none;}
.join-wrap .con span.inp-txt>span.parking input[type="radio"]:checked + label{background-color: #2E419A; color: #fff;}
.join-wrap .con span.inp-txt>span.parking label{display: inline-block; margin-right: 10px; padding: 8px 20px; background-color:#F5F5F5;
	border: 1px solid #B8B8B8; border-radius: 8px; cursor: pointer;}
.join-wrap .con .imageBox{width:950px;margin: 0 auto;}
.join-wrap .con .imageBox li{ display: inline-block;width: 300px; height:250px; border: 1px solid #000; box-sizing:border-box; margin-left: 10px;
	 position: relative; overflow: hidden;}
.join-wrap .con .imageBox li .image{border: 1px solid #2E419A;position: absolute; top: 0; left: 0;opacity: 0;
	width: 100%;height: 100%;cursor: pointer; z-index: 10;}
.join-wrap .con .imageBox li img.resultImg{display: none; width: 100%; height: 100%; object-fit: cover;}/* 이미지가 비율을 유지하면서 박스에 맞게 자동으로 조절되도록 설정 */
.join-wrap .con .imageBox li .empty-icon{ position: absolute;top: 0; left: 0;width: 100%; height: 100%;display: flex;
justify-content: center;align-items: center; pointer-events: none;}
.join-wrap .con .imageBox li .empty-icon img { width: 100%; height: 100%;}
/*매니저-메인컨텐츠-로그인*/
.login-wrap{}
.login-wrap .con{position: relative;}
.login-wrap .error-msg{color: #F94069; font-size: 13px; text-align: center; padding-top:5px; display: block;}
.login-wrap .con .inp-txt{ display:block; padding: 10px 0 ; text-align: center;}
.login-wrap .con img{display: inline-block; width: 40px; height: 40px; margin-right: 10px;}
.login-wrap .con .inp-txt input::placeholder{color: #B8B8B8;}
.login-wrap .con .inp-txt input#cb1{display: inline-block; width: 20px; height: 20px;
	border: 2px solid #bcbcbc;cursor: pointer; margin-top: 5px;}
.login-wrap .con .inp-txt input#cb1:checked{width: 100%; height:100%; background-color: #2E419A;}
.login-wrap .con .inp-txt label{display: inline-block; width: 130px; height: 20px; }
.login-wrap .con .inp-txt input#cb1:checked + label{color:#2E419A;}
.login-wrap .con .inp-txt .addition{display: block; font-size: 14px; margin-top: 20px;}
.login-wrap .con .inp-txt .addition a{color: #000; border-left: 2px solid #2E419A; padding: 0 10px;}
.login-wrap .con .inp-txt .addition a:nth-child(1){border: 0;}

/*모당메인-당구장찾기*/
.main-con{width: 1200px; margin: 0 auto; margin-top: 30px; height: auto;}
.main-con h2{color: #2E419A; text-align: center; margin: 30px 0;}
.main-con .con{width: 1200px;  box-sizing: border-box; height: 580px; margin:0 auto 30px; border-bottom: 0;}
.search{height: 50px; margin: 20px 0 0 10px;}
.search-map{ margin: 2px 0 5px 5px;width: 490px; float: left;}
.search-map p{display: inline-block; font-size: 15px; font-weight: 600;}
.search-map .search-add{border: 1px solid #2E419A; width: 100px; height: 30px; border-radius: 6px;
	background-color: #f1f1f1;}
.search-map button{background: #2E419A; width: 60px; height: 30px; color: #fff;
	border-radius: 6px; cursor: pointer;}
.search-list{width: 490px; float: left; margin-left: 110px;}
.search-list input{border: 1px solid #2E419A; width: 200px; height: 30px; border-radius: 6px;
	background-color: #f1f1f1;}
.search-list button{background: #2E419A; width: 60px; height: 30px; color: #fff;
	border-radius: 6px; cursor: pointer;}
.con .map{float: left; width: 590px; height: 500px;}
.con .map .mapImg{background-color: aquamarine; width: 500px; height: 440px; margin: 30px auto 0;}
.con .modang_list{float: right; width: 600px; height: 500px; overflow-y: auto;  box-sizing: border-box;
	border-left: 5px solid #2E419A; padding-left: 20px;}
.con .modang_list ul{margin-top: 10px;}
.con .modang_list ul li{ height: 100px; border-bottom: 1px solid #2E419A; box-sizing: border-box;
	 width: 550px; cursor: pointer;}
.con .modang_list ul li:nth-child(1){border-top: 1px solid #2E419A;}
.con .modang_list ul li .txt{float: left; width: 400px;}
.con .modang_list ul li .txt p.repname{font-weight: 800; font-size: 20px; text-align: center;margin:14px 0 10px;}
.con .modang_list ul li .txt p.addr{font-size: 15px; padding: 0 10px;margin:5px 0 0; height: 46px; overflow-y: auto;}
.con .modang_list ul li img{display: inline-block; width: 120px; height: 90px; float: right; margin: 5px;
	border: 1px solid #2E419A; box-sizing: border-box;}

/*유저 전적보기*/
/*게임 유저 정보?*/
.record-view{ width: 1200px;height: 400px; position: relative; margin: 50px auto 0;}

.record-view .left{display: inline-block;width: 300px; height: 100%;position: absolute; top: 0; left: 0;}
.record-view .userImg img{display: block; width: 250px; height: 250px; margin: 0 auto; border: 1px solid #2E419A;
    box-sizing: border-box; border-radius: 10px;}
.record-view .town{display: block; width: 250px;height: 110px;  margin: 15px auto 0; border: 1px solid  #2E419A;
    border-radius: 10px;}
.record-view .town span{display: inline-block; margin:  20px 0 0 20px;}
.record-view .town span strong{color: #2E419A; font-size: 20px;}
.record-view .center{display: inline-block;width: 300px;height: 100%;position: absolute; top: 0; left: 300px;
    text-align: center;}
.record-view .userRecent p{border-bottom: 1px solid #2E419A; padding: 6px 0; width: 280px; margin: 0 auto;}
.record-view .userRecent .recentAver{height: 100px; background-color: #efefef; border-radius: 10px;}
.record-view .userRecent .recentAver ul{margin-top: 20px; line-height: normal; font-weight: 600;}
.record-view .userRecent .recentAver ul li{display: inline-block; width: 20px; height: 20px; border: 1px solid #2E419A;}
.record-view .userRecent .recentAver ul li.win{background-color: lightblue; color: #fff;}
.record-view .userRecent .recentGame{height: 120px; background-color: #efefef; margin-top: 10px;border-radius: 10px;}
.record-view .userRecent .recentGame table{margin: 14px auto 0;}
.record-view .userRecent .recentGame thead{font-size: 14px;}
.record-view .userRecent .recentGame thead th{width:85px;}
.record-view .userRecent .recentGame tbody{font-size: 20px; color: red; font-weight: 700; margin-top: 10px;}
.record-view .userRecent .recentGame th{width: 80px; height: 20px;}
.record-view .userRecent .recentPlayer{height: 140px; background-color: #efefef; margin-top: 10px;border-radius: 10px;}
.record-view .userRecent .recentPlayer ul{font-size: 12px; width: 300px; margin-top: 6px;}
.record-view .userRecent .recentPlayer ul li{display: inline-block; width: 100px; padding: 5px;
    border: 1px solid #2E419A; box-sizing: border-box; border-radius: 10px; margin: 2px 5px;}
.record-view .right{display: inline-block;width: 550px;height: 100%;position: absolute; top: 0; left: 630px;}
.record-view .userPlay ul{width: 550px;}
.record-view .userPlay ul li{display: inline-block; width: 178px; height: 150px; background-color: #ecdfdf;
    border-radius: 10px;}
.record-view .userPlay ul li>p{font-size: 14px; padding: 10px 0 0 10px; }
.record-view .userPlay ul li>span{display: inline-block; font-weight: 600; font-size: 30px;  width: 178px; height: 50px; text-align: center;
    padding: 30px 0 0;}
.record-view .userPlay ul li.per{display: block; width: 500px; height: 50px; margin: 10px auto; padding: 10px 18px 10px 30px;}
.record-view .userPlay ul li.per>span{display: block; width: 500px; height: 16px; margin: 0 auto; background-color: red;
    border-radius: 6px; text-align: center; color: #fff; font-size: 14px; line-height: 16px; padding: 0;}
/*게임 리스트*/
.record-list{ height: 500px; width: 1200px; margin: 25px auto 0;}
.record-list table{text-align: center; margin: 0 auto; line-height: 30px;}
.record-list table thead{background-color: #ecdfdf;}
.record-list table thead th{border-top: 2px solid #2E419A;border-bottom: 2px solid #2E419A; width: 100px; height: 35px;}
.record-list table thead th:nth-child(2),.record-list table thead th:nth-child(3){width: 180px;}
.record-list table tbody{}
.record-list table tr{border: 1px solid #2E419A; border-left: 0;border-right: 0;}
.record-list table td{height: 30px;}