@charset "UTF-8";
/*초기화*/
html, body, div, span,h1, h2, h3, h4, h5, h6, p,
a, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,select,
article, figure, menu, nav, ruby, section,time, mark, audio, video {
	margin: 0; padding: 0;border: 0; }
/* HTML5 display-role reset for older browsers */
ol, ul,li {list-style: none;}
a{color: #000; text-decoration: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*메인컨텐츠*/
.main-con{width: 1000px; margin: 0 auto; margin-top: 30px; height: auto;}
.main-con h1{color: #2E419A; text-align: center; margin-bottom: 20px;}
.main-con .con{border: 2px solid #2E419A; box-sizing: border-box; height: 580px; margin-bottom: 30px;}
.search{height: 50px; margin: 20px 0 0 10px;}
.search-map{ margin: 2px 0 5px 5px;width: 490px; float: left;}
.search-map p{display: inline-block; font-size: 15px; font-weight: 600;}
.search-map .search-add{border: 1px solid #2E419A; width: 100px; height: 30px; border-radius: 6px;
	background-color: #f1f1f1;}
.search-map button{background: #2E419A; width: 60px; height: 30px; color: #fff;
	border-radius: 6px; cursor: pointer;}
.search-list{width: 490px; float: right;}
.search-list input{border: 1px solid #2E419A; width: 200px; height: 30px; border-radius: 6px;
	background-color: #f1f1f1;}
.search-list button{background: #2E419A; width: 60px; height: 30px; color: #fff;
	border-radius: 6px; cursor: pointer;}
.con .map{float: left; width: 490px; height: 500px;border-right: 2px solid #2E419A;
	 box-sizing: border-box;} 
.con .map .mapImg{background-color: aquamarine; width: 440px; height: 400px; margin: 40px auto 0;}
.con .modang_list{float: right; width: 500px; height: 500px; overflow-y: auto;
	border-top: 1px solid #2E419A;}
.con .modang_list ul{}
.con .modang_list ul li{ height: 100px; border-bottom: 1px solid #2E419A;
	box-sizing: border-box;}
.con .modang_list ul li .txt{float: left; width: 350px;}
.con .modang_list ul li .txt p.repname{font-weight: 800; font-size: 20px; text-align: center;margin:10px 0;}
.con .modang_list ul li .txt p.addr{font-size: 15px; padding: 0 10px; height: 50px; overflow-y: auto;}
.con .modang_list ul li img{display: inline-block; width: 120px; height: 90px; float: right; margin: 5px;
	border: 1px solid #2E419A; box-sizing: border-box;}