@charset "UTF-8";
	/*reset*/
			html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
			article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
			body { line-height: 1; }
			ol, ul { list-style: none; }
			blockquote, q { quotes: none; }
			blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
			table { border-collapse: collapse; border-spacing: 0; }
			body { -webkit-text-size-adjust: none; }
			mark { background-color: transparent; color: inherit; }
			input::-moz-focus-inner { border: 0; padding: 0; }
			input, select, qktextarea { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; appearance: none; }
			small {font-size:.75em;}
	/* a링크 초기화 */
			a:hover, a:visited, a:link, a:active
			{text-decoration: none; color: white;};	
	
	/* 공통 폰트 선언 */
			@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');	
			body {
				font-family: 'Noto Sans KR', sans-serif;
			};
/* 테이블선택화면 */


/*셀렉트볼*/
.imagebox >a{font-size: 200px; display: inline-block; width: 100%; height: 100%;text-align: center;padding-top: 15%;}
.tableStatus1 {width: 250px;height: 180px;outline: 2px solid #ffffffb3;background-color: #f1920f;border-radius: 10px; margin-top: 3%;margin-left: 3.3%;}
.tableStatus2 {width: 250px;height: 180px;outline: 2px solid #ffffffb3;background-color: #f1b412;border-radius: 10px; margin-top: 3%;margin-left: 3.3%;}
.tableStatus3 {width: 250px;height: 180px;outline: 2px solid #ffffffb3;background-color: #2b9b32;border-radius: 10px; margin-top: 3%;margin-left: 3.3%;}			
.title{width:100%;height: 5%;text-align: center; font-size: 30px;margin-top: 3%;color: white;}
/* 점수판 */						
.top {height: 120px;}
.mid {height: 615px;margin-left: 1px;}
.mid1 {height: 100%;margin-left: 1px;}
.board {z-index : 2;margin-top: 10px;width: 570px;height: 300px;}
.bdtop {padding-left:20px;width: 400px;height: 80px;}
.bdmid {padding-left:20px;z-index : 5;}
.userinfo {margin-top: 5px;}
.usertext {margin-left: 10px;color:white;font-size: 20px;}
.act-average {margin-right: -50px;margin-top: 10px;font-size: 40px;color: #f1bb2e;}
.panel {border-top-left-radius:10px;border-bottom-left-radius:10px;width : 160px; height: 180px;}
.panel1{margin-left : 1px;	width : 160px; height: 180px;}
.panel2{border-top-right-radius:10px;border-bottom-right-radius:10px; margin-left : 1px;	width : 160px;height: 180px;}
.touch {margin-top: 100px;text-align: center;vertical-align : middle;	font-family: 'Noto Sans KR', sans-serif;font: 150px bold;color: #ffffff;}		
.touch1 {margin-top: -20%;text-align: center;font-family: 'Noto Sans KR', sans-serif;font: 150px bold;color: #ffffff;}
#minus{width:70px;}	
.currentbd {margin-top: 20%;text-align: center;vertical-align : middle;font-family: 'Noto Sans KR', sans-serif;font: 30px bold;color: #ffffff;}		
.panalty {background-color:#fad122;}
.marks {background-color:#e89232;}
#marks  {border: none;outline: none;font-family: 'Noto Sans KR', sans-serif;font: 70px bold;}
.score {background-color:#fad122;}
img {display: inline-block;}			
.box{width: 200px;height: 150px;}
.timerBox{margin-left: 70px;width: 180px;height : 100px;margin-top: 15px;}
.timerBox1{width: 350px;height : 100px;margin-top: 5px;}
.usingfee  {width: 150px;height: 50px;margin-left: 20px; margin-top: 20px;text-align: center; border: none;outline: none;font-family: 'Noto Sans KR', sans-serif;	font: 30px bold;} /* outline 테두리 없애기 */
#top-fee{margin-left: 150px;}
.timerBox .time{font-size:45pt;color:white;text-align: center;font-family: sans-serif;}		
.btnBox{margin-left:61px;width: 350px;margin-top:20px;text-align:left;}
.btnBox .fa{width:120px;height: 50px;margin-top: 5px;margin-left:10px; margin-right: 20px;display:inline-block;font-weight:400;color:#fff;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#45a8d6;border:none;padding:.5rem 1.25rem;font-size:1.25rem;line-height:1.5rem;border-radius:.25rem;cursor:pointer;}
.btnBox .fa1{margin: 10px 10px;font-size: 10pt;color: #000000;cursor: pointer;}
.btnBox input {width: 50px;}
.d-inline {display:inline !important}
.d-block {display:block !important}
.d-inline-block {display:inline-block !important}	
.row{padding-left: 50px;width:96.1%;height:647px;}	
.row1{position: relative;margin-left: 50px;width: 92%;height: 520px; margin-top: 0px;background-color: white;border-radius: 10px;}	
.imgbox{width:70px;height:70px;border-radius:5px;}	
.imgbox1{width:150px;height:150px;border-radius:5px;}	
#total{font-size:10px;}	
.payMoney{font-size:20px;margin-left: 60px;}
.listbox{background-color:orange;width:100}
#playname{width:150px;font-size:20px;color: #1e43bf;text-align:center;margin-top: 5px;}
.playTime{margin-top:5px;}
#activeAverage{position: fixed;}

/*결과보기 */
.rtop {width: 1200px;height: 130px;}
#top-fee1{margin-left: 50px;margin-right: 5px;}
.timerBox2{width: 335px;height : 100px;margin-top: 15px;}
.timerBox3{padding-left: 35px;width: 600px;height : 100px;margin-top: 15px;}
.timerBox3 .time{width:300px;font-size:28pt;color:white;font-family: sans-serif;margin-top: 25px;margin-left: 20px;}
#crown{margin-left: 35px;margin-top: 100px;width:150px;}	
#rboardno-1{margin-top: 20px;margin-left:105px;}	
#rboardno-2{margin-top: 70px;margin-left:50px;}	
#rboardno-3{margin-top: 100px;margin-left:50px;}	
#rboardno-4{margin-top: 130px;margin-left:50px;}	
#name1{text-align:center;width: 220px;position: fixed;font-size:60px;margin-top:10px;color: white;}
#name2{text-align:center;width: 220px;position: fixed;font-size:40px;margin-top:30px;color: #f1920f;}
#winText{font-size:30px;width:150px;text-align:center;color:#b93f0f;}
#recordText{font-size:30px;width:150px;text-align:center;margin-bottom: 20px;}
#loseText{font-size:30px;width:150px;text-align:center;margin-bottom: 20px;}
.rankbox1{position: fixed;bottom: 130px;left:120px;width: 220px; height: 260px;background-color: #b93f0f;}
.rankbox2{position: fixed;left: 370px;bottom: 130px;width: 220px; height: 210px;background-color: #fad122;}
.rankbox3{position: fixed;left: 620px;bottom: 130px;width: 220px; height: 180px;background-color: #fad122;}
.rankbox4{position: fixed;left: 870px;bottom: 130px;width: 220px; height: 150px;background-color: #fad122;}
.timelabel1{font-size:30px;color:white;margin-left: 20px;}
.timelabel2{font-size:30px;color:white;}
.usingfee1  {width: 150px;height: 50px;margin-left: 20px; margin-top: 20px; border: none;outline: none;text-align: center;font-family: 'Noto Sans KR', sans-serif;	font: 30px bold;} /* outline 테두리 없애기 */
.btnBox1{margin-right: 4px;width: 400px;margin-top:20px;text-align:left;}
.btnBox1 .fa2{margin: 5px 10px;width: 160px; height: 60px;display:inline-block;font-weight:400;color:#fff;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#45a8d6;border:none;padding:.5rem 1.25rem;font-size:1.25rem;line-height:1.5rem;border-radius:.25rem;cursor:pointer;}
#startButton {display: none; /* 버튼 숨기기 */}
#stopButton {display: none; /* 버튼 숨기기 */}
#open{float: left;color: transparent;border-color: transparent;background: transparent;}
#close{float: right;color: transparent;border-color: transparent;background: transparent;}
.imagebox>a{font-size:200px;display: inline-block;width: 100%;text-align: center; margin-top: 15%;}
#keyin{margin-top: -15px;margin-left: 20px;width: 160px; height: 60px;display:inline-block;font-weight:400;color:#fff;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#45a8d6;border:none;padding:.5rem 1.25rem;font-size:1.25rem;line-height:1.5rem;border-radius:.25rem;cursor:pointer;}
#keyNum{width:200px;height: 60px;font-size: 2.25rem;text-align: center;}
.failmsg{display: inline-block;margin-top: 20px;width: 350px;text-align: center;color: white;}