@charset "UTF-8";
/* 여백 초기화 */
 body, div, h1, h2, h3, h4, h5, h6, input, span, img, 
 p, select, table, button, form {
	margin: 0;
	padding: 0;
}

/* 전체 폭 */
 .container{
	width: 1200px;
 }
/* container 중앙 맞춤 */
#main-content .container{
	width: 1200px;
	height: 100%;

	margin: 0px auto 100px auto;
}

/* the width for center position */
#main-content .container #joinForm #main {
	width: 360px;
	margin: 0 auto;
	
}
#joinForm .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    
}


/* the width for center position */
#main-content .container #loginForm #main,
#main-content .container #joinOk #main,
#main-content .container #modifyForm #main
 {
	width: 350px;
	margin: 0 auto;
	
}

/* title 위치및 굵기 */
#main h3 {
	margin: 50px 0px 35px 0px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

/* idcheck modal */
#main form .input-group #btnIdCheck {
	width: 70px;
	height: 40px;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	background : linear-gradient(to bottom right, rgb(9, 32, 80),
      rgb(81, 117, 164))
}

/* input id 체크용 */
#main form .input-group #input-uid {
	width: 230px;
	height: 40px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	display: inline-block;
	padding:6px 12px;
    position: relative;
}

#main form .input-group #id {
	width: 300px;
	height: 40px;
	/* border: 1px solid #B8B8B8; */
	border: 1px solid #746c6c;
	box-sizing: border-box;
	border-radius: 8px;
	padding:6px 12px;
	color: #111;
	position: relative;

}

#main form .input-group #passwd {
	width: 300px;
	height: 40px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	

}

#main form .input-group #cellphone {
	width: 300px;
	height: 40px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	padding: 6px 12px;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	

}

#main form .input-group #nick {
	width: 230px;
	height: 40px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	box-sizing: border-box;
	padding:6px 12px;
	border-radius: 8px;
	color: #111;
	margin: 0 auto;

}
/* login input 간격 */
#loginForm .form-group {
    margin-bottom: 15px;
}
/* modifyForm input 간격 */
#modifyForm .form-group {
    margin-bottom: 15px;
}

/* nick modal */
#main form .input-group #btnNickCheck {
	width: 70px;
	height: 40px;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	background : linear-gradient(to bottom right, rgb(9, 32, 80),
      rgb(81, 117, 164))
}

/* Cellphone modal */
#main form .input-group #btnCellphoneCheck {
	width: 70px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #2E419A;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

#main form .input-group #average {
	width: 300px;
	height: 40px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	padding: 6px 12px;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0 auto;

}

#main form .input-group #profileImage {
	width: 300px;
	height: 40px;
	object-fit: cover;
	padding : 9px 20px 9px 15px;
	/* background: #F5F5F5; */
	border: 1px solid #746c6c;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	

}


/* submit button */
#main form .button-area #btn-submit{
	width: 100%;
	color: #fff;
	border-radius:5px;
	height: 40px;
	position: relative;
	margin: 0 auto;
	background : linear-gradient(to bottom right, rgb(9, 32, 80),
      rgb(81, 117, 164))
      
}

#joinForm #main form .button-area #btn-submit {
    width: 350px;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    position: relative;
    right:-5px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, rgb(9, 32, 80), rgb(81, 117, 164));
}

/* modify image size */
#main form .form-group #image-show img{
	width: 340px;
	height: 340px;
	object-fit: cover;
	margin: 0px 0px 3px 0px;
	border: outset 2px;
    border-color: darkslateblue;
}

/* modify icon */
#main form .form-group .input-group img{
	width: 40px; 
	height: 40px;
	position: relative;
    left: 0px;
    margin: 0 auto;
	
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0;
}

/* userJoinForm */
#shadowBox {
	background-color: rgb(255, 255, 255);
	
	text-shadow: none;
	box-shadow: rgba(46, 65, 154, 0.28) 5px 10px 10px 0px;
	border-width: 0px;
	border-style: none;
	border-radius: 4px;
	display:inline-block;
	position: relative;
    left: 350px;
    top: 40px;
	width: 13em;
	height: 150px;
	margin: 0px auto;
	
}

#shadowBox2 {
	background-color: rgb(255, 255, 255);
	
	text-shadow: none;
	box-shadow: rgba(46, 65, 154, 0.28) 5px 10px 10px 0px;
	border-width: 0px;
	border-style: none;
	border-radius: 4px;
	display:inline-block;
	position: relative;
    left: 420px;
    top: 40px;
	width: 13em;
	height: 150px;
	margin: 0px auto;
	
}

#shadowTitle {
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	padding: 6px 0px 15px 25px;
	position: relative;
    left: 345px;
    top: -110px;
    width: 10em;
}

#subTitleSize {
	font-size: 13px;
	position: relative;
	left: -5px;
    top: 15px;
}

#shadowTitle2 {
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	width: 179px;
	position: relative;
   	left: 645px;
    top: -248px;
    width: 10em;
}

#subTitleSize2{
	font-size: 13px;
	margin: -10px -26px 0px 35px;
	position: relative;
   	left: -30px;
    top: 35px;
}

/* 마이페이지 대표이미지 */
#userPage {
	width:1200px; 
	margin:auto;
	
}

#userPage .content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 450px;
}

#userPage .element .style .content  {
    height: 260px;
    padding: 0px;
    width: 1050px;
    margin-left: auto;
}

/* 마이페이지 이미지 */
#userPage .element.style .image-show {
    width: 960px;
    height: 260px;
    margin: auto;
    padding: 0;
    position: absolute;
}
#userSubImage {
  	width: 790px;
    display: inline-block;
    right: 360px;
    padding: 0;
    position: absolute;
    opacity: 0.2;
    top: 124px;
    height: 260px;
}
#inputId{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}
#inputPw{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}
  
    


/* 마이페이지 이미지 */
#userFroFileImage {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin: -1px 0 0 -66px;
    position: absolute; 
}

/* 마이페이지 아이콘 기본 위치 */
#userPage .image-icon img {
    vertical-align: middle;
    width: 5%;
    margin: auto;
    position: relative;
    
}
/* 마이페이지 아이콘 */
#userPage .image-icon hr{
	margin:-5px -15px 10px 455px;
	border:1px solid #0000a0;
}

/* 마이페이지 사용자 정보 */
#userPage .text {
	font-size: 30px;
    position: relative;
    left: 195px;
    padding: 15px 0px 0px 20px;
	
}
/* 마이페이지 버튼 */
#userPage .button-area .btn {
	cursor: pointer;
	width: 40%;
	color: #fff;
	border-radius:5px;
	line-height: 40px;
	font-size: 15px;
    border: 0;
    padding: 0;
    position: relative;
    bottom: -90px;
    right: -210px;

    background : linear-gradient(to bottom right, rgb(9, 32, 80),
      rgb(81, 117, 164))
}
