@charset "UTF-8";


/* 전체 폭 */
 .container{
	width: 1200px;
 }
/* container 중앙 맞춤 */
#main-content .container{
	width: 1200px;
	height: 100%;

	margin: 0px auto 100px auto;
}

/* the width for center position */
#main-content .container #joinForm #main {
	width: 360px;
	margin: 0 auto;
	
}
#joinForm .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 0px 0px -10px 0px;
}

/* the width for center position */
#main-content .container #loginForm #main,
#main-content .container #joinOk #main,
#main-content .container #modifyForm #main {
	width: 350px;
	margin: 0 auto;
	
}

/* 수정폼 세로버튼 */
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
	background-color:  #2E419A;
	color: #fff;
	border: 1px solid #2E419A;
	border-radius:10px;
	line-height: 40px;
    margin: 0px 0px -455px -1055px;
    padding: 2px 2px 2px 2px;
}


/* title 위치및 굵기 */
#main h3 {
	margin: 50px 0px 35px 0px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

/* idcheck modal */
#main form .input-group #btnIdCheck {
	width: 70px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #2E419A;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

/* input id 체크용 */
#main form .input-group #input-uid {
	width: 230px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;
}

#main form .input-group #id {
	width: 300px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;

}

#main form .input-group #passwd {
	width: 300px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;

}

#main form .input-group #cellphone {
	width: 300px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;

}

#main form .input-group #nick {
	width: 230px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;

}

/* nick modal */
#main form .input-group #btnNickCheck {
	width: 70px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #2E419A;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

#main form .input-group #average {
	width: 300px;
	height: 40px;
	padding : 8px 20px 9px 20px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 30px 0px;

}

#main form .input-group #profileImage {
	width: 300px;
	height: 40px;
	padding : 9px 20px 9px 15px;
	background: #F5F5F5;
	border: 1px solid #B8B8B8;
	box-sizing: border-box;
	border-radius: 8px;
	color: #111;
	margin: 0px 0px 20px 0px;

}


#main form .button-area {
	margin: 30px 0px 30px 0px;
	
}

/* submit button */
#main form .button-area #btn-submit{
	width: 100%;
	background-color:  #2E419A;
	color: #fff;
	border-radius:10px;
	line-height: 40px;
}

/* modify image size */
#main form .form-group #image-show img{
	width: 345px;
	margin: 0px 0px 3px 0px;
}

/* icon */
#main form .form-group .input-group img{
	width: 40px; 
	height: 40px;
	margin: 0px 10px 20px 0px;
	
}
.row {
    margin-right: -0px;
    margin-left: -5px;
}

.input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0;
}

